* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("../assets/fonts/SFPRODISPLAYMEDIUM.OTF");
}

body {
  background-image: url("../assets/images/wave.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
.container {
  max-width: 1700px;
  margin: 0 auto;
  // margin-right: 20px;
  // margin-left: 20px;
  padding: 20px;
}

#main {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  .logo-text {
    width: 40%;
    margin-right: 130px;

    .text-detail {
      margin-top: 131px;
      p {
        max-width: 576px;
        font-family: "SF Pro Display";
        color: #333;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: justify;
        margin-bottom: 96px;
      }
      .btn-register {
        cursor: pointer;
        width: 237px;
        height: 60px;
        border-radius: 10px;
        background: #5f1ce8;
        color: #fff;
        font-family: "SF Pro Display";
        font-size: 26px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        border: none;
      }

      .register-message {
        margin-top: 10px;
        color: #ff4f4f;
        font-family: "SF Pro Display";
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        width: 237px;
        text-align: center;
      }
    }
  }

  .map {
    width: 60%;
    svg {
      width: 100%;
      height: 100%;
      // width: 1020px;
      // height: 800px;
      path {
        cursor: pointer;
        &:not(.seher, .not-hover):hover {
          fill: #f2ebff;
          stroke-width: 4px;
          stroke: rgba(95, 28, 232, 0.65);
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
        }
      }
      .region.active {
        fill: #f2ebff;
        stroke-width: 4px;
        // stroke: rgba(95, 28, 232, 0.65);
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
      }

      .region:hover ~ .seki,
      .region:hover ~ .quba,
      .region:hover ~ .baki,
      .region:hover ~ .sumqayit,
      .region:hover ~ .samaxi,
      .region:hover ~ .lenkeran,
      .region:hover ~ .naxcivan,
      .region:hover ~ .gence,
      .region:hover ~ .susa,
      .region:hover ~ .mingecevir {
        stroke-width: 1px;
        stroke: #333;
        // transform: scale(1.1); /* Adjust the scale factor as needed */
        transform-origin: center center;
      }
    }
  }
}

//Scrolbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f1ce8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #601ce8d0;
}

@media only screen and (max-width: 1200px) {
  #main {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    .logo-text {
      width: 100%;
      .text-detail {
        margin-top: 50px;
        p {
          max-width: 100%;
          margin-bottom: 50px;
        }
      }
    }

    .map {
      width: 100%;
      margin-top: 50px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}



@media only screen and (max-width: 600px) {
  #main {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    .logo-text {
      .logo{
        img{
          width: 100%;
        }
      }
    }

  }
}